/* CSS Document */
.outliner{
	width: 800px;
	height: 1500px;
	margin: auto;
}
.header{
	width: 720px;
	height: 150px;
/*	background-color: antiquewhite;*/
	margin: 0 auto;
	padding: 40px;
}
.ma{
	width: 100px;
	height: 100px;
/*	background: red;*/
	float: left;
	margin-bottom: 50px;
}
.work{
	width: 400px;
	height: 100px;
	text-align: right;
	float: right;
}
.hello{
	width: 250px;
	height: 100px;
	font-size:30px;
	float:left;
	
}
.senior{
	width: 400px;
	height: 100px;
	float: right;
	
}
.project-1{
	width: 250px;
	height: 300px;
	margin-top: 40px;
	padding-left:40px;
	float: left;
}
.pic{
	width: 400px;
	height: 210px;
	background-color: aqua;
	float: right;
	margin-top: 100px;	
}
.main{
	width: 800px;
	height: 230px;
/*	background-color: antiquewhite;*/
	margin: auto;
/*	padding: 40px;*/
	float: left;
}
.project-2{
	width: 250px;
	height: 250px;
	float: left;
	padding-left:40px;
}
.pic-2{
	width: 400px;
	height: 210px;
	background-color: aquamarine;
	
	float: right;
}
.footer{
	width: 800px;
	height: 230px;
/*	background-color: chocolate;*/
	margin: auto;
/*	padding: 40px;*/
	float: left;
}
.project-3{
	width: 250px;
	height: 230px;
	float: left;
	padding-left:40px;
}
.pic-3{
	width: 400px;
	height: 210px;
	background-color: aquamarine;
	
	float: right;
}
.end{
	width: 800px;
	height: 230px;
/*	background-color: chocolate;*/
	margin: 0 auto;
/*	padding: 40px;*/
	float: left;
}
.name{
	width: 300px;
	height: 100px;
	margin-top: 210px;
	float: left;
}
.name-2{
	width: 300px;
	height: 100px;
	margin-top: 210px;
	float: right;
	text-align: right;
	padding-right: 40px;
}